body 
{
	/* Background pattern from Toptal Subtle Patterns */
	background-image: url("img/tlo.png");
	font-size: 20px;
	margin: 0 !important;
	font-family: 'Lato', sans-serif;
}
header 
{
	width: 100%;
	padding: 40px 0;
}
nav
{
	width: 100%;
	background: #36b03c;
	text-align: center;
	border-top: 1px solid #751b1b;
	border-bottom: 1px solid #751b1b;
}
ol
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 16px;
	height: 35px;
	line-height: 35px;
	display: inline-block; /* wyrówna menu do środka jeżeli block w którym jest ma text-align: center; czyli wyrównanie do środka tekstu*/
}
ol > li /*stylizujemy element listy który jest potomkiem listy ol*/ 
{
	float: left;
	width: 150px;
	height: 40px;
	border-right: 1px dashed #751b1b;
}
ol a
{
	color: #ffffff;
	text-decoration: none;
	display: block;
}
ol > li:first-child
{
	border-left: 1px dashed #751b1b;
	background-color: #25a02b;
}
ol > li:hover
{
	background-color: #25a02b;
}
ol > li:hover > a
{
	color: #451717;
}
#Login
{
	background-image: url("img/tlo.png");
	width: 300px;
	padding: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9); /*ze strony cssmatic.com/box-shadow */
	-moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
}
#container
{
	width: 1000px; 
	font-size: 25px;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
	
}
#content
{
	float: left;
	background-color: #efefef;
	width: 780px; 
	font-size: 25px;
	text-align: justify;
	height: 590px;
	margin: 10px;
	
}
#menu
{
	float: left;
	width: 20%;
	
}
.option
{
	width: 190px;
	height: 190px;
	margin:10px;
}

#addIncome
{
	text-align: center;
	background-color: #efefef;
	transition: all 0.5s ease-in-out;
}
#addIncome:hover
{
	coursor: pointer;
	background-color: #c6c2c2;
}
#addExpense
{
	text-align: center;
	background-color: #efefef;
	transition: all 0.5s ease-in-out;
}
#addExpense:hover
{
	coursor: pointer;
	background-color: #c6c2c2;
}
#balance
{
	text-align: center;
	background-color: #efefef;
	transition: all 0.5s ease-in-out;
}
#balance:hover
{
	coursor: pointer;
	background-color: #c6c2c2;
}
#message
{
	color: #666;
	font-size: 17px;
	margin-top: 20px;
}
main a
{
	color: #000000;
	text-decoration: none;
	display: block;
}
#slogan
{
	font-family: 'Dancing Script', cursive;
	text-align: center;
	padding: 10px;
	font-size: 48px;
	margin-bottom: 15px;
}
.headers
{
	text-align: center;
	font-size: 30px;
	
}
footer
{
	width: 1000px;
	background-color: #efefef;
	text-align: center;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	
}
#leftSide
{
	float: left;
	width: 300px;
	margin-left: 80px;
	margin-top: 10px;

}
#rightSide
{
	float: left;
	width: 50%;
	margin-left: 10px;
}
.leftSidetext
{
	width: 300px;
	padding: 10px;
	margin-top: 10px;
	height: 50px;
	
	
}
#comment
{
	background-color: #efefef;
	color: #666;
	border: 2px solid #ddd;
	border-radius: 5px; /* żeby pole nie było kwadratowe*/
	font-size: 20px;
	padding: 10px;
	resize: none;
	outline: none;
}
#divForComment
{
	margin-top: 20px;
	margin-left: 90px;
}
input[type=text],
input[type=password],
input[type=number],
input[type=date],
#category
{
	
	width: 300px;
	background-color: #efefef;
	color: #666;
	border: 2px solid #ddd;
	border-radius: 5px; /* żeby pole nie było kwadratowe*/
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box; /* zakazuje ustawić szerokosc 300px niezależnie od szerokości contentu, po to aby text-boxy miały taką samą szerokość co przycisk logowania */
	outline: none;
	margin-top: 10px;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=number]:focus,
input[type=date]:focus,
#category:focus,
#comment:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9); /*ze strony cssmatic.com/box-shadow */
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	border: 2px solid #a5cda5;
	background-color: #e9f3e9;
	color: #428c42;
}
input[type=text]:hover,
input[type=password]:hover,
input[type=number]:hover,
input[type=date]:hover,
#category:hover
{
	cursor: pointer;
}
input[type=submit],
input[type=button]
{
	width: 300px;
	background-color:#36b03c;
	font-size: 20px;
	color: white;
	padding: 15px 10px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
	
}
#rightSide input[type=button]
{
	margin-top:30px;
	margin-left: 10px;
}
#leftSide input[type=submit]
{
	margin-left: 10px;
}
input[type=submit]:hover,
input[type=button]:hover
{
	background-color: #27a02b;
}
input[type=submit]:focus,
input[type=button]:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9); /*ze strony cssmatic.com/box-shadow */
	-moz-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
}
input::-webkit-input-placeholder
{
    color: #999;
}
input:focus::-webkit-input-placeholder
{
    color: #428C42;
}
/* Firefox < 19 */
input:-moz-placeholder
{
    color: #999;
}
input:focus:-moz-placeholder
{
    color: #428C42;
}
/* Firefox > 19 */
input::-moz-placeholder
{
    color: #999;
}
input:focus::-moz-placeholder
{
    color: #428C42;
}
/* Internet Explorer 10 */
input:-ms-input-placeholder
{
    color: #999;
}
input:focus:-ms-input-placeholder
{
    color: #428C42;
}
table,
td
{
	margin-top: 10px;
	border: 1px solid #000000;
}
.firstTab
{
	font-weight: 700;
}

#sum
{
	font-weight: 700;
	text-align: right;
	border: none;
	margin-right: 5px;
	
}
#ammountSum
{
	width: 178px;
	border: none;
}
#tabSum
{
	border: none;
}

